{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}


	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
		<p>Roles:Admin</p>

		{% for article in articles %}
			<h1>Titre<h2>
					{{ article.title }}
					<h3>Content</h3>
					{{ article.Contente }}

					<a href="{{ path('Delete_message',{'id':article.id} ) }}">Supprimer</a>


				{% endfor %}


			{% endif %}


		{% endblock %}
