{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}


	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
		<div>
			Roles:
			{% for role in app.user.roles %}
				{{ role|replace({'ROLE_': ''}) }}
			{% endfor %}
		</div>
		<a href=" {{ path('upgrade_to_admin') }}">Vip</a><br>
	{% endif %}
	<a href=" {{ path('app_nouveaux_messages') }}">Créer de nouveaux messages</a>

	{% for Article in Articles %}
		<h1>Titre<h2>
				{{ Article.title }}
				<h3>Content</h3>
				{{ Article.Contente }}
			{% endfor %}


		{% endblock %}
